@{
    ViewBag.Title = "Home Page";
}
<br/>
<br />
<div class="jumbotron">
    <h1>BRF Gullvivan</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Placeholder 1</h2>
    </div>
    <div class="col-md-4">
        <h2>Placeholder 2</h2>
    </div>
    <div class="col-md-4">
        <h2>Placeholder 3</h2>
    </div>
</div>