@{
    ViewBag.Title = "Styrelsen";
}
<br/>
<br />
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div>
    <img class="imgStyrelse" src="~/Images/abstract-blue_00172364.jpg"/>
    <h4 id="Name">Per Broing</h4>
    <p>Placeholder@gmail.com</p>
</div>
<div>
    <img class="imgStyrelse" src="~/Images/abstract-blue_00172364.jpg"/>
    <h4 id="Name">Per Broing</h4>
    <p>Placeholder@gmail.com</p>
</div>
<div>
    <img class="imgStyrelse" src="~/Images/abstract-blue_00172364.jpg" />
    <h4 id="Name">Per Broing</h4>
    <p>Placeholder@gmail.com</p>
</div>